<div class="userTitle">
	<div class="layui-form-item">
		<div class="layui-inline">	
			<label class="layui-form-label">用户</label>
			<div class="layui-input-inline">
				<input name="username" lay-verify="title" autocomplete="off" placeholder="输入查询用户" class="layui-input" type="text">
			</div>
		</div>
		<div class="layui-inline">	
			<label class="layui-form-label">年龄</label>	
			<div class="layui-input-inline">			
				<input name="age" lay-verify="required" autocomplete="off" class="layui-input" type="text">			
			</div>
			<div class="line layui-input-inline">
				<span>——</span>
			</div>
			<div class="layui-input-inline">			
				<input name="age" lay-verify="required" autocomplete="off" class="layui-input" type="text">			
			</div>
		</div>
		
		<button class="layui-btn layui-btn-warm">查询</button>
		
	</div>	
</div>